@tailwind base;
@tailwind components;
@tailwind utilities;

.mix-blend-mode-unset {
  	mix-blend-mode: unset !important;
}

.kb-scrollbar {
	/* scrollbar-color: #fff6 #00000026; */
	scrollbar-width: auto;
	-webkit-overflow-scrolling: touch;
}
.kb-scrollbar-column {
	-webkit-overflow-scrolling: touch;
    scrollbar-color: #a6c5e229 #a1bdd914;
    scrollbar-width: thin;
}

.kb-column .kb-column__content .kb-task:last-child .kb-task__content {
	margin-bottom: 0px;
}

.overflow-wrap-anywhere {
	overflow-wrap: anywhere;
}
.overflow-wrap-break-word {
	overflow-wrap: break-word;
}

.transition-column {
	transition: all 0.25s ease-in-out;
}