@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scrollbar-column-color: #4d627529 #ffffff14;
}

@media (prefers-color-scheme: dark) {
	:root {
		--scrollbar-column-color: #a6c5e229 #a1bdd914;
	}
	/* .kb-scrollbar {
		scrollbar-color: #fff6 #00000026;
	}
	.kb-scrollbar-column {
		scrollbar-color: #a6c5e229 #a1bdd914;
	} */
}

.mix-blend-mode-unset {
  	mix-blend-mode: unset !important;
}

.kb-scrollbar {
	/* scrollbar-color: #fff6 #00000026; */
	scrollbar-width: auto;
	-webkit-overflow-scrolling: touch;
}
.kb-scrollbar-column {
	-webkit-overflow-scrolling: touch;
    scrollbar-color: var(--scrollbar-column-color);
    scrollbar-width: thin;
}
.kb-scrollbar-column-dark {
	scrollbar-color: #a6c5e229 #a1bdd914;
}

.kb-column .kb-column__content .kb-card:last-child .kb-card__content {
	margin-bottom: 0px;
}

.overflow-wrap-anywhere {
	overflow-wrap: anywhere;
}
.overflow-wrap-break-word {
	overflow-wrap: break-word;
}

/*  */
.body-item {
	display: flex;
	width: 100%;
	height: 90%;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	/* @media (max-height: 900px) {
	  	height: 84%;
	} */

	.body-item-scrollable {
		display: flex;
		overflow: auto;
		align-items: center;
		padding: 10px 15px 0;
		flex-direction: column;
	}
}